body {
	color: #CFE0E3;
}

.site-wrapper {
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

.clean-list {
	list-style-type: none;
	font-size: 18px;
	padding-left: 0px;
	-webkit-padding-start: 0px;
}

.clean-list li{
	margin-top: 10px
}