body {
	color: #CFE0E3;
}

.site-wrapper {
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

.clean-list {
	list-style-type: none;
	font-size: 18px;
	padding-left: 0px;
	-webkit-padding-start: 0px;
}

.clean-list li{
	margin-top: 10px
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.vertical-center div {
	display: box;
}

.frontpage-photo {
	width: 200px;
	height: 200px;
	border: 3px solid #CFE0E3;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(../img/frontpage-photo.jpg) no-repeat;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	margin-bottom: 20px;
	}
	

@media (max-width: 768px){
	.clean-list {font-size: 14px;}
}